@tailwind base;
@tailwind components;
@tailwind utilities;

.primary_color {
  color: #4bb198;
}

.bg_primary_color {
  background-color: #4bb198;
}

.border_primary_color {
  border-color: #4bb198;
}

.secondary_color {
  color: #2b2d40;
}

.bg_secondary_color {
  background-color: #2b2d40;
}

.bg_tertiary_color {
  background-color: #e65986;
}

.bg_gray {
  background-color: #fdfdfd;
}

.bg_light_gray {
  background-color: #fcfcfc;
}

.bg_category {
  background-color: #f6f6f6;
}

.bg_small_shirt {
  background-color: #c4c5c5;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.7s ease-in;
}

.products_height {
  height: 36rem;
}
